#register-footer-btn {
  width: 70%;
  font-size: 16px;
}

.sml-scrn-tog-btn {
  right: 20px;
}

.coach-name {
  font-weight: bold;
}

.organization {
  color: #47a9ef;
  font-weight: bold;
  margin: 0.5em;
}

.sap-org {
  color: #47a9ef;
}

.vm-org {
  color: #565656;
}

.accedia-org {
  color: #e13723;
}

.coach-expertise {
  margin: 0.5em;
  color: black;
  font-weight: bold;
}

.coach-availability {
  font-weight: bold;
  font-style: italic;
}

.rounded-circle {
  border-radius:50% !important
}

.img-fluid {
  max-width:100%;
  height:auto
}

.skills {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.skill {
  float: left;
  font-size: 12px;
  margin: 0.5em;
}

.devicon {
  font-size: 20px;
}

.devicon-android-plain-wordmark {
  color: green;
}

.devicon-docker-plain {
  color: #47a9ef;
}

.fa-lightbulb {
  color: #fb9e25;
}

.fa-connectdevelop {
  color: black;
}

.devicon-nodejs-plain {
  color: blue;
}

.glyphicon-transfer {
  color: #47a3da;
}

.fa-globe {
  color: grey;
}

.fa-gamepad {
  color: black;
}

.devicon-java-plain-wordmark {
  color: red;
}

.glyphicon-cloud {
  color: #47a9ef;
}

.glyphicon-user {
  color: orange;
}

.fa-trophy {
  color: gold;
}

.glyphicon-tower {
  color: grey;
}

.glyphicon-hourglass {
  color: brown;
}

.glyphicon-phone {
  color: silver;
}

.glyphicon-object-align-bottom {
  color: #47a9ef;
}

.fa-tv {
  color: grey;
}

.glyphicon-education {
  color: black;
}
